@model UpdateBookingDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Rezervasyon İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Rezervasyon Güncelle</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="State" />
                            <div class="form-group">
                                <label for="name">Ad Soyad</label>
                                <input type="text" class="form-control" asp-for="Name" id="name" placeholder="Ad Soyad Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="phone">Telefon</label>
                                <input type="text" class="form-control" asp-for="Phone" id="phone" placeholder="Telefon Nuamrası Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="email">EMail</label>
                                <input type="email" class="form-control" asp-for="Email" id="email" placeholder="Email Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="personCount">Kişi Sayısı</label>
                                <input type="number" class="form-control" asp-for="PersonCount" id="personCount" placeholder="Toplam Kişi Sayısı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="date">Rezervasyon Tarihi</label>
                                <input type="date" class="form-control" asp-for="Date" id="date" placeholder="Tarih">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

