@model List<GetFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan Alan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Öne Çıkan Alan Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Öne çıkan alan ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Alan Adı</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>@(Model.IndexOf(item) + 1)</th>
                                        <td>@item.Name</td>
                                        <td><a href="/Feature/ChangeState/@item.Id" class="btn btn-warning btn-border btn-round">@(item.State ? "Aktif" : "Pasif")</a></td>
                                        <td><a href="/Feature/Delete/@item.Id" class="btn btn-danger btn-border btn-round">Sil</a></td>
                                        <td><a href="/Feature/Update/@item.Id" class="btn btn-success btn-border btn-round">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <td><a href="/Feature/Create/" class="btn btn-outline-primary">Yeni Ekle</a></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>