@model UpdateFeatureDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Günün İndirimleri İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Öne Çıkan Alan Güncelle</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label for="title1">1. Başlık</label>
                                <input type="text" class="form-control" asp-for="Title1" id="title1" placeholder="1. Başlığı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="description1">1. Açıklama</label>
                                <textarea rows="5" type="text" class="form-control" asp-for="Description1" id="description1" placeholder="1. Açıklamayı Giriniz"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="title2">2. Başlık</label>
                                <input type="text" class="form-control" asp-for="Title2" id="title2" placeholder="2. Başlığı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="description2">2. Açıklama</label>
                                <textarea rows="5" type="text" class="form-control" asp-for="Description2" id="description2" placeholder="2. Açıklamayı Giriniz"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="title3">3. Başlık</label>
                                <input type="text" class="form-control" asp-for="Title3" id="title3" placeholder="3. Başlığı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="description3">3. Açıklama</label>
                                <textarea rows="5" type="text" class="form-control" asp-for="Description3" id="description3" placeholder="3. Açıklamayı Giriniz"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

