@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script type="text/javascript">

    function updateProgress(id, className, name, result) {
        const progressContainer = document.getElementById(id);
        progressContainer.innerHTML = `
                                                    <div class="d-flex justify-content-between mb-1">
                                                        <span class="text-muted">${name}</span>
                                                        <span class="text-muted fw-bold">${result}</span>
                                                    </div>
                                                    <div class="progress mb-2" style="height: 7px;">
                                                        <div class="progress-bar ${className}" role="progressbar" style="width: ${result}%" aria-valuenow="${result}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${result}%"></div>
                                                    </div>
                                                `;
    }

    $(document).ready(() => {

        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:5353/SignalRHub").build();
        connection.start().then(() => {
            setInterval(() => {
                connection.invoke("SendProgress");
            }, 1000);
        }).catch((err) => { console.log(err) });

        connection.on("ReceiveTotalMoneyCaseAmount", (result) => {
            $("#totalMoneyCaseAmount").text(result);
        });
        connection.on("ReceiveActiveTotalOrderCount", (result) => {
            $("#activeTotalOrderCount").text(result);
        });
        connection.on("ReceiveCategoryCount", (result) => {
            $("#categoryCount").text(result);
        });
        connection.on("ReceiveProductCount", (result) => {
            $("#productCount").text(result);
        });
        connection.on("ReceiveBookingCount", (result) => {
            $("#bookingCount").text(result);
        });
        connection.on("ReceiveLastOrderPrice", (result) => {
            $("#lastOrderPrice").text(result);
        });
        connection.on("ReceiveTotalProductPrice", (result) => {
            $("#totalProductPrice").text(result);
        });
        connection.on("ReceiveMenuTableCount", (result) => {
            $("#totalMenuTableCountProgress").empty();
            $("#totalMenuTableCountProgress").append(updateProgress("totalMenuTableCountProgress", "bg-success", "Toplam Masa Sayısı", result));
            $("#menuTableCount").text(result);
        });
        connection.on("ReceiveProductPriceAvg", (result) => {
            $("#productPriceAvgProgress").empty();
            $("#productPriceAvgProgress").append(updateProgress("productPriceAvgProgress", "bg-warning", "Ortalama Ürün Fiyatı", result));
            $("#productPriceAvg").text(result).append("₺");
        });
        connection.on("ReceiveProductPriceAvgByHamburger", (result) => {
            $("#productPriceAvgByHamburgerProgress").empty();
            $("#productPriceAvgByHamburgerProgress").append(updateProgress("productPriceAvgByHamburgerProgress", "bg-info", "Ortalama Hamburger Fiyatı", result));
        });
        connection.on("ReceiveProductCountByCategoryNameDrink", (result) => {
            $("#productCountByCategoryNameDrinkProgress").empty();
            $("#productCountByCategoryNameDrinkProgress").append(updateProgress("productCountByCategoryNameDrinkProgress", "bg-danger", "Toplam İçecek Sayısı", result));
        });
        connection.on("ReceiveTotalOrderCount", (result) => {
            $("#totalOrderCountProgress").empty();
            $("#totalOrderCountProgress").append(updateProgress("totalOrderCountProgress", "bg-secondary", "Toplam Sipariş Sayısı", result));
        });
        connection.on("ReceiveTotalProductCount", (result) => {
            $("#totalProductCountProgress").empty();
            $("#totalProductCountProgress").append(updateProgress("totalProductCountProgress", "bg-warning", "Toplam Ürün Sayısı", result));
        });
        connection.on("ReceiveStaticValue", (result) => {
            $("#staticValueProgress").empty();
            $("#staticValueProgress").append(updateProgress("staticValueProgress", "bg-info", "Statik Veri", result));
        });

    })
</script>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Admin İstatistikler & Durumlar </h4>
        <div class="row row-card-no-pd">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="fw-bold mt-1">Kasadaki Toplam Tutar</p>
                        <h4 id="totalMoneyCaseAmount"></h4>
                        <hr />
                        <p class="fw-bold mt-1">Toplam Ürün Fiyatı</p>
                        <h4 id="totalProductPrice"></h4>
                        <hr />
                        <p class="fw-bold mt-1">Ortalama Ürün Fiyatı</p>
                        <h4 id="productPriceAvg"></h4>
                        <hr />
                        <p class="fw-bold mt-1">Son Sipariş Tutarı</p>
                        <h4 id="lastOrderPrice"></h4>
                        <a href="/Order/Create" class="btn btn-primary btn-full text-left mt-3 mb-3"><i class="la la-plus"></i> Yeni Sipariş</a>
                    </div>
                    <div class="card-footer">
                        <ul class="nav">
                            <li class="nav-item"><a class="btn btn-default btn-link" href="/Order/Index"><i class="la la-history"></i> Siparişler</a></li>
                            <li class="nav-item ml-auto"><a class="btn btn-default btn-link" href="/ProgressBars/Index"><i class="la la-refresh"></i> Sayfayı Yenile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="progress-card" id="totalMenuTableCountProgress"></div>
                        <div class="progress-card" id="productPriceAvgProgress"></div>
                        <div class="progress-card" id="productPriceAvgByHamburgerProgress"></div>
                        <div class="progress-card" id="productCountByCategoryNameDrinkProgress"></div>
                        <div class="progress-card" id="totalOrderCountProgress"></div>
                        <div class="progress-card" id="totalProductCountProgress"></div>
                        <div class="progress-card" id="staticValueProgress"></div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats">
                    <div class="card-body">
                        <p class="fw-bold mt-1">Anlık İstatistikler</p>
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center icon-warning">
                                    <i class="la la-pie-chart text-warning"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Aktif Siparişler</p>
                                    <h4 class="card-title" id="activeTotalOrderCount"></h4>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-heart-o text-primary"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Masa Sayısı</p>
                                    <h4 class="card-title" id="menuTableCount"></h4>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-car text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Kategori Sayısı</p>
                                    <h4 class="card-title" id="categoryCount"></h4>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-dribbble text-danger"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Ürün Sayısı</p>
                                    <h4 class="card-title" id="productCount"></h4>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-glass text-dark"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Rezervasyon Sayısı</p>
                                    <h4 class="card-title" id="bookingCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

